<div layout="column" style="height: 100%; width: 100%">
  <div flex="90" layout="row" style="height: 100%">
    <div flex="35" class="square">
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="key in diff.jsonKeys track by $index"
            ng-bind="key">
        </li>
      </ul>
    </div>
    <div flex="35" class="square">
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="key in diff.propKeys track by $index"
            ng-bind="key">
        </li>
      </ul>
    </div>
    <div flex="30" class="square">
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="key in diff.keysDiff track by $index"
            ng-bind="key.text" ng-style="{'background-color': key.color, 'white-space': 'pre'}">
        </li>
      </ul>
    </div>
  </div>
  <div flex="10" layout="row" layout-wrap>
    <div flex="20" ng-repeat="lang in diff.languages">
      <md-button class="md-raised md-mini"                 
                  ng-class="{'md-success': lang.inSync, 'md-warn': !lang.inSync}"
                 ng-click="diff.showDiff(lang)">
        {{lang.lang}}
      </md-button>
    </div>
  </div>
</div>