.textarea-width {
  width: 50%
}
.title {
  color: white;
}

.files-list {
  height: 100px;
  overflow: auto; 
  background-color: lightgrey;
}

.search-results {
  height: 300px;
  overflow: auto; 
  background-color: lightgrey;
}